/*** Main-styling ***/
:root {}



* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*** End Main-styling ***/

/*** Main-container-styling ***/
main.main-container {
  width: 1349px;
}

/*** End Main-container-styling ***/

/*** Header-section-styling ***/
header.header-section {
  height: 50px;
  background: #3dbeff;
  padding: 0 20px;
}

nav.navigation-section {
  width: 90%;
  height: inherit;
  display: flex;
  gap: 70%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-end;
}

ul.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 8;
  align-content: stretch;
  justify-content: space-between;
  gap: 12%;
  align-items: stretch;
  margin-bottom: 0.5%;
}

li a {
  text-decoration: none;
  color: #d4ffff;
}

li:nth-child(4) a {
  background: white;
  color: black;
  padding: 12px 20px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  border-radius: 24px;
  position: relative;
  z-index: 2;
}

/*** End Header-section-styling ***/
section.hero-section {
  height: 350px;
  display: flex;
  background: #3ebfff;
  /* background: url(images/desktop/image-header.jpg); */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.main-heading-test {
  display: flex;
  /* z-index: 0; */
  right: 43%;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  top: 20%;
  font-size: 38px;
  color: white;
}

.hero-section img {
  width: 70%;
  height: 100%;
  overflow: hidden;
  clip: auto;
}


/*** Main-content-styling ***/

/*** End Main-content-styling ***/

/*** Testimonials-section-styling ***/
/*** End Testimonials-section-styling ***/

/*** image-container-section-styling ***/
/***End image-container-section-styling ***/

/*** Footer-styling ***/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*** End  Footer-styling ***/

/*** Media queries ***/

/** Mobile: 375px **/
@media screen and (min-width: 375px) {}

/*** Desktop: 1440px ***/
@media screen and (min-width: 1440px) {}




/***********

# Front-end Style Guide  

## Colors 
### Primary 
-- Soft red: hsl(7, 99%, 70%) 
-- Yellow: hsl(51, 100%, 49%) 
-- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%) 
-- Dark blue (photography text): hsl(198, 62%, 26%) 
-- Dark moderate cyan (footer): hsl(168, 34%, 41%) 
### Neutral 
- Very dark desaturated blue: hsl(212, 27%, 19%) 
- Very dark grayish blue: hsl(213, 9%, 39%) 
- Dark grayish blue: hsl(232, 10%, 55%) 
- Grayish blue: hsl(210, 4%, 67%) 
- White: hsl(0, 0%, 100%) 


## Typography 
### Body Copy - Font size: 18px; 
### Font - Family: Barlow;
      Weights: 600; 
      @import url(https: //fonts.google.com/specimen/Barlow);

      Family:Fraunces
      Weights: 700,900;
      @import url(https: //fonts.google.com/specimen/Fraunces);

    ## Icons We provide the required social icons. 
    - [Font Awesome](https: //fontawesome.com)
    - [IcoMoon](https: //icomoon.io)
    - [Ionicons](https: //ionicons.com)

***********/